*{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift SemiBold ;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom,rgb(153, 113, 228),rgb(159,334,999));
    background-attachment: fixed;

}
#navigation{
    width: 100%;
    padding-top: 10px;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.logo{
    margin-left: 20px;
}
.logo h1{
    font-size:2.7vw;
    color: white;
    font-weight: 700;

}
.center-menus{

    margin-right:10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
.center-menus h2{
    font-size: 2.6vh;
    margin-top: 10px;

}
a{
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    
}

.right-massage{
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}

.content{
    width: 50%;
    height: 60%;
    margin-top: -5vh;
    padding-top: 50px;
    /* background-color: blue; */
}
.hello-box{
    margin-top: 8vh;
    margin-left:10vw;
}
.about{
    margin-left: 10vw;
    margin-top: 8vh;
}
.content h1{
    color: white;
    font-weight: 900;

}
.about h2{
    color:rgb(221, 246, 255);
    font-size: 34px;
    font-weight:400;
    margin-top: 10px;
}
.clicks{
    height: 20%;
    margin-left: 10vw;
    padding: 0;
    gap: 10%;    
}
button{
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgb(209, 140, 151);
    border: none;
    color: white;
    font-weight: 600;
    transition: all .7s ease-in-out;
}
button:nth-child(2){
    background-color: blue;
    color: white;
    font-weight: 600;
}
button:hover{
    box-shadow: 4px 5px black;
}
.container{
    margin-top: 40px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}
.right-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 60px;
    /* background-color: red; */
}
img{
    width: 25.7vw;
    border-radius: 20%;
    box-shadow: 10px 10px black;
    transition: all  .6s ease-in-out;
    cursor: pointer;
}
img:hover{
    box-shadow: -10px -10px white;
}
.footer{
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   .right-image h2{
        position: absolute;
        top: 200px;
        font-size: 13px;
        left: 880px;
        color: white;
    }
.links{
    margin-left: 10vh;
    margin-top:18px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer h1{
    font-size: .9vw;
    margin-right: 50px;
    color: white;
    margin-top: 10px;
}

h3{
    font-size: 1.7vw;
}

a:hover{
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
}

a:active{
    color:rgb(198, 39, 238);
}
h4{
   
}
.center-menus h2:nth-child(1) a{
    color:white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;

}

